
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Report</title>
</head>
<body>
    <div> 
       <a href="@Url.Action("PDFResult", "PDFRendering")" target="_blank"> <span> Bill</span></a>
       
    </div>
</body>
</html>
