
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <a href="@Url.Action("PDFResult", "PDFRendering")" target="_blank"> <span> Bill</span></a>
   <input type="button" value ="Subscribe" id="SUB1"/>
    <input type="button" value="Publish" id="SUB2" />

</div>

